.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 40px 0;
  justify-content: center;

  background-color: bisque;
}

.pokeCard {
  width: 200px;

  background-color: aqua;
}

.pokeCard > img {
  width: 200px;
  height: 200px;
  object-fit: cover;

  border-radius: 10px;
  background-color: lightgray;
}

.pokeCardId {
  padding: 0 10px 15px;
}

.pokeCardName {
  padding: 0 10px;
}

.pokeCardTypes {
  display: flex;
  padding: 10px 10px;
  gap: 5px;
}

.pokeCardTypes div {
  background-color: yellowgreen;
  border-radius: 5px;
  padding: 5px;
}